<h1>All our cards available</h1>

<div class="filters">
  <form [formGroup]="form">
    <mat-form-field color="accent">
      <mat-label>By name</mat-label>
      <input matInput placeholder="Blastoise" formControlName="name" />
      <mat-hint align="end">At least 2 characters</mat-hint>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Rarities</mat-label>
      <mat-select formControlName="rarities" multiple>
        <mat-select-trigger *ngIf="form.get('rarities') as rarities">
          {{ rarities.value ? rarities.value[0] : '' }}
          <span *ngIf="rarities.value?.length > 1">
            (+{{ rarities.value.length - 1 }} {{ rarities.value?.length === 2 ? 'other' : 'others' }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let rarity of raritiesList$ | async" [value]="rarity">{{ rarity }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-paginator
    [pageIndex]="form.get('page').value - 1"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="selectPage($event)"
    aria-label="Select page"
  ></mat-paginator>
</div>

<ng-container *ngIf="cards$ | async as cards">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading" class="cards">
    <epk-card-select *ngFor="let card of cards; trackBy: trackByCard" [card]="card"></epk-card-select>
  </div>
</ng-container>
