.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  form {
    display: flex;
    gap: 10px;
  }
  .mat-paginator {
    background-color: transparent;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
