.spacer {
  flex: 1 1 auto;
}

.basket-summary {
  display: flex;
  gap: 20px;
}

.basket-spacer {
  width: 1px;
  height: 40px;
  background-color: white;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  line-height: 1.2em;
}

.mat-sidenav {
  min-width: 40vw;
}

.mat-drawer-container {
  height: calc(100vh - var(--navbar-height));
  background: rgb(37, 37, 37);
  background: linear-gradient(142deg, rgba(37, 37, 37, 1) 12%, rgba(34, 3, 75, 1) 100%);
  .page {
    padding: 0 40px;
  }
}
