<mat-toolbar color="primary">
  <span>E-Poké</span>
  <span class="spacer"></span>
  <div class="basket-summary">
    <div class="details">
      <span>Price : {{ price$ | async | currency }}</span>
      <span>Quantity : {{ quantity$ | async }}</span>
    </div>
    <div class="basket-spacer"></div>
    <button mat-icon-button aria-label="Example icon-button with heart icon" color="accent" (click)="toggleSidenav()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <epk-basket-listing (paymentProcessing)="lockCloseSidenav()" (paymentEnded)="paymentEnded()"></epk-basket-listing>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
