<div class="back">
  <a routerLink="../" class="icon-before">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
  </a>
</div>

<div *ngIf="card$ | async as card" class="card">
  <img [src]="card.images.large" [alt]="'Card ' + card.name" />
  <div class="card-header">
    <div class="informations">
      <h2>{{ card.name }}</h2>
      <p *ngIf="!!card.artist" class="artist">By {{ card.artist }}</p>
      <p *ngIf="!!card.rarity">Rarity : {{ card.rarity }}</p>
    </div>
    <div *ngIf="{ quantity: card | quantityCardInBasket$ | async } as datas" class="actions">
      <button mat-raised-button color="accent" (click)="add(card)">
        Add 1 card
        <mat-icon>add_shopping_cart</mat-icon>
        <p *ngIf="datas.quantity > 0" class="quantity">Already {{ datas.quantity }} in basket</p>
      </button>
      <button mat-raised-button color="warn" [disabled]="datas.quantity === 0" (click)="remove(card.id)">
        Remove 1 card
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
