:host {
  display: block;
  height: 100%;
}

.back {
  width: 100%;
  margin: 20px 0;
}

.card {
  display: flex;
  gap: 20px;
}

img {
  width: 50vw;
}

.card-header {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: baseline;
}

.artist {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}

button {
  .quantity {
    margin: 0;
    font-size: 0.6em;
    font-style: italic;
    line-height: 1.2em;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
