<div class="price-quantity">
  <ng-container *ngIf="card.cardmarket.prices.trendPrice as price; else noPrice">
    <span class="price">{{ price | currency }}</span>
    <ng-container *ngIf="card | quantityCardInBasket$ | async as quantity">
      <span *ngIf="quantity > 0" class="quantity">{{ quantity }}</span>
    </ng-container>
  </ng-container>
  <ng-template #noPrice>
    <span class="no-price">Rupture de stock</span>
  </ng-template>
</div>

<a [routerLink]="card.id" [class.no-price]="card.cardmarket.prices.trendPrice === null">
  <img [src]="card.images.small" [alt]="card.name" />
</a>

<div class="actions" [class.show]="isHover">
  <button mat-mini-fab color="accent" [disabled]="card.cardmarket.prices.trendPrice === null" (click)="remove()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-mini-fab color="accent" [disabled]="card.cardmarket.prices.trendPrice === null" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</div>
