:host {
  display: block;
  position: relative;
  height: 300px;
  width: 175px;
}

.price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}

.no-price {
  font-style: italic;
  color: var(--color-grey);
}

a {
  &.no-price {
    opacity: 0.6;
  }
}

img {
  height: 80%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  visibility: hidden;
  margin-top: -25px;
  &.show {
    visibility: visible;
  }
}
