:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-primary-lighten);
  position: relative;
}

.listing {
  list-style: none;
  height: 75%;
  overflow: auto;
  margin-bottom: 40px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  img {
    width: 30px;
  }
  .name {
    width: 150px;
  }
  .quantity {
    min-width: 50px;
  }
  .price {
    min-width: 50px;
  }
}

.price-total {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.actions {
  margin: auto;
}

.basket-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: italic;
}

.paying {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
