<ng-container *ngIf="cards$ | async as cards">
  <ng-container *ngIf="cards?.length; else basketEmpty">
    <ul class="listing">
      <li *ngFor="let card of cards">
        <img [src]="card.images.small" />
        <span class="name">{{ card.name }}</span>
        <span class="quantity">x{{ card.quantity }}</span>
        <span class="price">{{ card.cardmarket.prices.trendPrice * card.quantity | currency }}</span>
        <button mat-icon-button color="warn" (click)="remove(card.id)"><mat-icon>delete</mat-icon></button>
      </li>
    </ul>

    <span class="price-total">Total : {{ price$ | async | currency }}</span>

    <div class="actions">
      <button mat-raised-button color="accent" (click)="fakePay()">
        I pay
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-template #basketEmpty>
  <div class="basket-empty">Votre panier est vide.</div>
</ng-template>

<div *ngIf="isPaying" class="paying">
  <div class="spinner">
    In payment
    <mat-spinner color="accent" [diameter]="50"></mat-spinner>
  </div>
</div>
