@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'palettes';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$epk-primary: mat-palette($mat-custom-primary);
$epk-accent: mat-palette($mat-custom-accent, 500, 200, 900);

// The warn palette is optional (defaults to red).
$epk-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$epk-theme: mat-dark-theme($epk-primary, $epk-accent, $epk-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($epk-theme);
