:root {
  // Primary colors
  --color-primary-50: #e7e1ed;
  --color-primary-100: #c3b4d2;
  --color-primary-200: #9b82b4;
  --color-primary-300: #725095;
  --color-primary-400: #542b7f;
  --color-primary-500: #360568;
  --color-primary-600: #300460;
  --color-primary-700: #290455;
  --color-primary-800: #22034b;
  --color-primary-900: #16013a;
  --color-primary-A100: #9670ff;
  --color-primary-A200: #703dff;
  --color-primary-A400: #4a0aff;
  --color-primary-A700: #3f00f0;
  --color-primary-contrast-50: #000000;
  --color-primary-contrast-100: #000000;
  --color-primary-contrast-200: #000000;
  --color-primary-contrast-300: #ffffff;
  --color-primary-contrast-400: #ffffff;
  --color-primary-contrast-500: #ffffff;
  --color-primary-contrast-600: #ffffff;
  --color-primary-contrast-700: #ffffff;
  --color-primary-contrast-800: #ffffff;
  --color-primary-contrast-900: #ffffff;
  --color-primary-contrast-A100: #000000;
  --color-primary-contrast-A200: #ffffff;
  --color-primary-contrast-A400: #ffffff;
  --color-primary-contrast-A700: #ffffff;

  // Secondary colors
  --color-secondary-50: #f4fcf7;
  --color-secondary-100: #e4f8ea;
  --color-secondary-200: #d2f3dd;
  --color-secondary-300: #c0eecf;
  --color-secondary-400: #b3eac4;
  --color-secondary-500: #a5e6ba;
  --color-secondary-600: #9de3b3;
  --color-secondary-700: #93dfab;
  --color-secondary-800: #8adba3;
  --color-secondary-900: #79d594;
  --color-secondary-A100: #ffffff;
  --color-secondary-A200: #ffffff;
  --color-secondary-A400: #f1fff5;
  --color-secondary-A700: #d7ffe2;
  --color-secondary-contrast-50: #000000;
  --color-secondary-contrast-100: #000000;
  --color-secondary-contrast-200: #000000;
  --color-secondary-contrast-300: #000000;
  --color-secondary-contrast-400: #000000;
  --color-secondary-contrast-500: #000000;
  --color-secondary-contrast-600: #000000;
  --color-secondary-contrast-700: #000000;
  --color-secondary-contrast-800: #000000;
  --color-secondary-contrast-900: #000000;
  --color-secondary-contrast-A100: #000000;
  --color-secondary-contrast-A200: #000000;
  --color-secondary-contrast-A400: #000000;
  --color-secondary-contrast-A700: #000000;

  // Other colors
  --color-primary: var(--color-primary-500);
  --color-primary-lighten: var(--color-primary-300);
  --color-primary-dark: var(--color-primary-800);
  --color-secondary: var(--color-secondary-500);
  --color-secondary-lighten: var(--color-secondary-300);
  --color-white: #f1f1f1;
  --color-grey: #c4c4c4;
  --color-grey-darken: #b4b4b4;
  --color-black: #252525;
}

// http://mcg.mbitson.com/#!?mcgpalette0=%23eb9844
$mat-custom-primary: (
  50: var(--color-primary-50),
  100: var(--color-primary-100),
  200: var(--color-primary-200),
  300: var(--color-primary-300),
  400: var(--color-primary-400),
  500: var(--color-primary-500),
  600: var(--color-primary-600),
  700: var(--color-primary-700),
  800: var(--color-primary-800),
  900: var(--color-primary-900),
  A100: var(--color-primary-A100),
  A200: var(--color-primary-A200),
  A400: var(--color-primary-A400),
  A700: var(--color-primary-A700),
  contrast: (
    50: var(--color-primary-contrast-50),
    100: var(--color-primary-contrast-100),
    200: var(--color-primary-contrast-200),
    300: var(--color-primary-contrast-300),
    400: var(--color-primary-contrast-400),
    500: var(--color-primary-contrast-500),
    600: var(--color-primary-contrast-600),
    700: var(--color-primary-contrast-700),
    800: var(--color-primary-contrast-800),
    900: var(--color-primary-contrast-900),
    A100: var(--color-primary-contrast-A100),
    A200: var(--color-primary-contrast-A200),
    A400: var(--color-primary-contrast-A400),
    A700: var(--color-primary-contrast-A700),
  ),
);

$mat-custom-accent: (
  50: var(--color-secondary-50),
  100: var(--color-secondary-100),
  200: var(--color-secondary-200),
  300: var(--color-secondary-300),
  400: var(--color-secondary-400),
  500: var(--color-secondary-500),
  600: var(--color-secondary-600),
  700: var(--color-secondary-700),
  800: var(--color-secondary-800),
  900: var(--color-secondary-900),
  A100: var(--color-secondary-A100),
  A200: var(--color-secondary-A200),
  A400: var(--color-secondary-A400),
  A700: var(--color-secondary-A700),
  contrast: (
    50: var(--color-secondary-contrast-50),
    100: var(--color-secondary-contrast-100),
    200: var(--color-secondary-contrast-200),
    300: var(--color-secondary-contrast-300),
    400: var(--color-secondary-contrast-400),
    500: var(--color-secondary-contrast-500),
    600: var(--color-secondary-contrast-600),
    700: var(--color-secondary-contrast-700),
    800: var(--color-secondary-contrast-800),
    900: var(--color-secondary-contrast-900),
    A100: var(--color-secondary-contrast-A100),
    A200: var(--color-secondary-contrast-A200),
    A400: var(--color-secondary-contrast-A400),
    A700: var(--color-secondary-contrast-A700),
  ),
);
