@import './styles/settings/variables';
@import './styles/settings/palettes';
@import './styles/settings/material';

@import './styles/components/links';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
